/* latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Merriweather-Light.ttf') format('truetype');
}

/* latin */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
}

/* latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
}

/* latin */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Merriweather-RegularItalic.ttf') format('truetype');
}

/* latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
}

/* latin */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Merriweather-BoldItalic.ttf') format('truetype');
}

/* latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Merriweather-Black.ttf') format('truetype');
}

/* latin */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Merriweather-BlackItalic.ttf') format('truetype');
}